body {
	background-color: #FFFCF3;
	font-family: 'Varela Round', sans-serif;
}

.day-in-week {
	height: 200px;
	width: 200px;
	border-color: #7e7e7e;
	border-width: 5px;
	border-radius: 20%;
	margin: 20px !important;
}

#previous-link {
	text-align: left;
	font-size: 18px;
}

#next-link {
	float: right;
	font-size: 18px;
}

.no-data {
	background-color: #D3D3D3;
}

.stressful {
	background-color: #E070E3;
}

.not-stressful {
	background-color: #ABE575;
}

.navlink {
	color: #0E570A;
}

.week{
	text-align: center;
	border-spacing: 15px;
	border-collapse: separate;
}

#week-header td {
	border: 0;	
}

.navbar-brand {
	font-size: 3em;
}

.navbar {
	font-family: 'Varela Round', sans-serif;
	background-color: #ABE575;
}

.active {
	background-color: #ABE575;
}

.content {
	padding: 20px;
}

.copy {
	text-align: center;
}

.getting-data {
	float: left;
	margin-left: 300px;
}

#show-bio-retro {
	float: right;
	margin-right: 300px;
}

#data-refresh-response {
	font-style: italic;
}

.legend {
	float: left;
	margin-left: 100px;
	font-size: 18px;
}

.swatch {
	height: 20px;
	width: 20px;
	border-radius: 20px;
}

.btn {
	background-color: #e7e7e7;
}

.day-table tr>td {
	padding-left: 2em !important;
}

.day-table tr:first-child td:first-child
{
    border-top-left-radius: 25px;    
}

.day-table tr:first-child td:last-child
{
    border-top-right-radius: 25px;    
}

.day-table tr:last-child td:first-child
{
    border-bottom-left-radius: 25px;    
}

.day-table tr:last-child td:last-child
{
    border-bottom-right-radius: 25px;   

}

.day-table tr:first-child td{
	border-top: 0;
}
