<!DOCTYPE html>
<html>
<head>
	<title>BioRetro</title>

<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<script src="../static/base.js"></script>
</head>
<body>
	<p>This will be a day view.</p>
	<table class="table">
		{% for each in keys %}
			{% if days_data[each] %}
				<tr><td class='warning'>{{ each }}</td></tr>
			{% else %}
				<tr><td class='success'>{{ each }}</td></tr>
			{% endif %}
		{% endfor %}
	</table>
</body>
</html>