{% extends "global.html" %}
{% block content %}
<div class="content">
	<div class="copy">
		<p>Start exploring your biofeedback retrospective below.</p>
	</div>
	<br>
	<span class="getting-data">
		<input class="btn btn-lg btn-default" type="submit" value="refresh data from Google" id="get-moar-data">
			<br>
			<br>
		<div class="error-msg" id="data-refresh-response">
		</div>
	</span>
	<input class="btn btn-lg btn-default" type="submit" value="Show me the latest BioRetro" id="show-bio-retro" href="" target="_blank">
	<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src="/static/base.js"></script>
</div>
{% endblock %}