<!DOCTYPE html>
<html>
<head>
	<title>:D</title>
</head>
<body>
	<p>You are OAUTHORIZED</p>
	<br>
	<input type="submit" value="refresh data from Google" id="get-moar-data">
	<br>
	<div class="error-msg" id="data-refresh-response">
	</div>
	<br>
	<input type="submit" value="Show me the latest BioRetro" id="show-bio-retro">
	<br>
	<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src="/static/base.js"></script>
</body>
</html>